.App {
  margin: 30px;
  font-family: "DINPro";
}

.app_title {
  text-align: center;
}

.infinite-scroll-component {
  display: flex;
  flex-wrap: wrap;
}

@font-face {
  font-family: "DINPro";
  src: url("./assets/font/DINPro-Medium\ tr.ttf");
}

@font-face {
  font-family: "MyriadPro";
  src: url("./assets/font/MYRIADPRO-REGULAR.OTF");
}
