.card_header {
  width: 637.3px;
  height: 233.2px;
  /* background-color: url("../../../assets/images/college_02.jpg"); */
  background: url("https://img.collegedekhocdn.com/media/img/institute/crawled_images/iitbombay.jpg?tr=w-250,h-150")
    no-repeat center;
  display: flex;
  background-size: cover;
  flex-direction: column;
  justify-content: space-between;
  /* text-align: center; */
}

.header_right {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  text-transform: uppercase;
}

.header_promoted {
  width: 152px;
  height: 33px;
  background-color: #68a7ff;
  transform: translateY(-14px);
  align-self: flex-end;
  /* clip-path: polygon(1% 29%, 16% 40%, 0% 54%, 100% 53%, 100% 31%, 99% 29%); */
  font-size: 15px;
  /* clip-path: polygon(9% 33%, 32% 50%, 9% 68%, 91% 68%, 92% 33%); */
}

.header_rating {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 75px;
  height: 53px;
  border-radius: 3.8px;
  background-color: #f5a626;
  align-self: flex-end;

  font-size: 13.5px;
  line-height: 1.33;

  /* 
  font-size: 18.5px;
  font-weight: bold; */
}

.header_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #444444;
}

.header_tags {
  display: flex;
  padding: 10px;
  font-size: 13.5px;
  line-height: 1.33;
}

.tags_best,
.tags_distance {
  width: 135px;
  height: 34px;
  border-radius: 16.5px;
  background-color: #ffffff;
  margin-right: 10px;
}

.d-flex-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_number .number_text {
  font-size: 13px;
  line-height: 1.33;
  color: #ffffff;
}
