.card_body {
  width: 637.3px;
  height: 143.2px;
  /* background-color: cyan; */
  display: flex;
  /* justify-content: space-between; */
}

.description_college-name {
  margin: 10px 0px 7px 10px;
}

.description_location-row {
  margin: 0 0 17px 10px;
}

.description_match-row {
  margin: 0 0 12px 10px;
}

.body_description .description_college-name span.college-name {
  margin-right: 15px;
  font-family: "DINPro";
  font-size: 18.5px;
  color: #444444;
}

.ratings .hollow-star {
  color: #adadad;
}

.description_location-row .location {
  font-size: 13.5px;
  color: #444444;
}

.description_location-row .nearest-location {
  color: #adadad;
  margin: 0 5px;
}

.description_match-row {
  font-weight: bold;
  font-size: 13.5px;
}
.match {
  color: #37b396;
}

.distance-from {
  color: #444444;
}

.grey-text {
  color: #adadad;
}

.description_offer-row {
  padding: 0 0 5px 10px;
  background: #ccf5e7;
  border-radius: 0 10px 10px 0;
  /* width: 340px; */
}

.offers {
  font-size: 13.5px;
  font-weight: bold;
}
.flat {
  color: #444444;
  font-weight: normal;
}

.price {
  color: #4bb89e;
  font-weight: normal;
}

.login-text {
  color: #1999d2;
  font-weight: bold;
  text-transform: uppercase;
}

.body_price-section {
  margin-left: 35px;
  width: 165px;
}

.original_price {
  font-size: 11px;
  line-height: 1.64;
  color: #444444;
  font-family: "MyriadPro";

  letter-spacing: 2px;
  text-decoration: line-through;
}

.original-price_row {
  display: flex;
  justify-content: center;
  margin: 10px 0px 7px 10px;
  align-items: center;
}

.original_price {
  margin-right: 10px;
}

.discount-label {
  background: #dd1c26;
  font-size: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
.discounted-price-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 25px;
}

.discounted-price {
  font-size: 28.5px;
  color: #dd1c26;
}

.per-semester {
  font-size: 11px;
  color: #444444;
  font-family: "MyriadPro";
}

.features {
  display: flex;
  font-size: 13.5px;
  font-family: "MyriadPro";
  color: #37b396;
  font-weight: bold;
  justify-content: space-evenly;
  align-items: center;
}
